body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100%;
}

.login-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.standard-form {
    max-width: 200px;
    text-align: left;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

.green-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.logout-button {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.error-message {
    margin-bottom: 10px;
}

.addPointFormHidden {
    display: none;
}

.addPointFormVisible {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}